* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cabecera {
    text-transform: uppercase;
    font-family: "Comic Sans MS", cursive;
    font-weight: bold;
    text-align: center;
    line-height: 1.6;
    letter-spacing: 1px;
}

.amarillo {
    color: #140508;
    background-color: #ffcd00;
    font-size: 4rem;
}
    
.azul {
    color: #ffffff;
    background-color: #003087;
    font-size: 2rem;
}

.rojo {
    color: #ffffff;
    background-color: #c8102e;
    font-size: 1.3rem;
}

.cafe {
    border: 2px solid #003087;
    border-radius: 10px;
    padding: 20px;
    width: fit-content;
    max-width: 90%;
    margin: 20px auto;
    background-color: #fff4cc;
}

.dato {
    margin: 10px 0;
}

.cafe h3 {
    margin-top: 0px;
    margin-bottom: 25px;
}

.cafe h4 {
    margin-top: 30px;
    margin-bottom: 10px;
}

.cafe ul {
    padding-left: 20px;
}

main {
    max-width: 550px;
    margin: 40px auto;
    padding: 0 20px;
}

.titulo-seccion {
    text-align: center;
    margin-bottom: 20px;
}

.pie-pagina {
    text-align: center;
    margin-top: 40px;
    padding: 20px;
}

.ficha {
    background-color: #87ceeb;
    padding: 25px 20px;
    border-radius: 12px;
}

body {
    background-color: #f4ead7;
    font-family: Arial, sans-serif;
}